body{
    background-image:linear-gradient(to right,#c94b4b,#4b134f);
}
#cal{
    display: flex;
    flex-direction:column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#cal-body{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    background-image: linear-gradient(to right,#0f0c29,#302b63,#24243e);
    padding: 5vh;
    border-radius: 5vh;
}
#inputs{
    display: flex;
    gap: 5vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}
#buttons button{
    border:none;
    color:black;
    width: 7vh;
    border-radius: 7px;
    height: 4vh;
    background-image: linear-gradient(to right,#ff6f00,gold,gold,#ff6f00);
    background-size: 250% 100%;
    box-shadow: 0 0 5px #eee;
    transition: background-position 0.5s ease;
}
#buttons button:hover{
    background-position: right bottom;
}
#result{
    color: black;
    opacity:1;
}
#result-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input{
    height: 35px;
    text-align: center;
    border-radius: 30px;
    border:4px solid #6b2470;
}
